*,
::before,
::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,
ol,
li{
    list-style: none;
}

img{
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-weight: inherit;
    font-size: inherit;
}

html,
body{
    background-color: #FAFAFA;
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Montserrat;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1046px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

.ibg{
    position: relative;
}

.ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


/* header */

/* .header{
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    z-index: 50;
} */

.header-container{
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media(max-width: 479px){
    .header-container{
        min-height: 85px;
    }
}

.header-menu{
    margin: 0 0 0 133px;
}

@media(max-width: 992px){
    .header-menu{
        margin: 0 0 0 80px;
    }
}

@media(max-width: 767px){
    .header-menu{
        margin: 0 0 0 50px;
    }
}

@media(max-width: 479px){
    .header-menu{
        margin: 0 0 0 20px;
    }
}

.header-logo{
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    line-height: 32px;
}

.menu{
    padding: 5px 0;
}

.menu-link{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #737373;
}

@media(max-width: 479px){
    .menu-link{
        font-size: 18px;
    }
}

.menu-item:not(:last-child){
    margin: 0 21px 0 0;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
}

/* main */
.main{
    flex: 1 1 auto;
}

.main-services{
    position: relative;
    margin: -111px 0 0 0;
    z-index: 2;
}
/* ----------------------------- */
.main-block{
    position: relative;
}

.main-block-body{
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
}

.main-block-body > *:not(:last-child){
    margin: 0 0 35px 0;
}

@media(max-width: 992px){
    .main-block-body{
        padding: 120px 0 191px 0;
    }
}

.main-block-title{
    font-weight: 800;
    font-size: 58px;
    line-height: 137%;
    color: #252B42;
}

@media(max-width: 479px){
    .main-block-title{
        font-size: 42px;
    }
}

/* -------------------------------------------------- */

.main-block-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color:  #737373;
}

.main-block-image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media(max-width: 1300px){
    .main-block-image img{
        object-position: right;
    }
}

@media(max-width: 1300px){
    .main-block-image {
        opacity: 0.5;
    }
}

.main-block-buttons{
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block-button-orange{
    background: #FF7B47;
    color: #FFF;
}

.main-block-button-border{
    border-radius: 37px;
    border: 1px solid #0D5C63;
    color: #0D5C63;
}

.main-block-button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 48px;
    padding: 5px 36px;
    margin: 10px;
    border-radius: 37px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}

@media(max-width: 479px){
    .main-block-button {
        flex: 1 1 auto;
    }
}

@media(min-width: 479px){
    .main-block-button:not(:last-child){
        margin-right: 10px;
    }
}

.main-block-button:not(:last-child){
    margin-right: 10px;
}

/* services */

@media(min-width: 670px){
    .services-body{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
}

.services-column{
    padding: 0 15px;
    flex: 0 1 33.333%;
    margin: 0 0 30px 0;
}

@media(min-width: 670px){
    .services-column{
        padding: 0 15px;
    }
}

@media(max-width: 992px){
    .services-column{
        flex: 0 1 50%;
    }
}

.services-item{
    /* min-width: 300px; */
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #FFF;
    padding: 35px;
}

.item-service > *:not(:last-child){
    margin: 0 0 10px 0;
}

.item-service-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color:#252B42;
}

.item-services-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 133%;
    color: #737373;
}

.item-service-green{
    background-color: #0D5C63;
}

.green{
    color: #FFFFFF;
}

/* advantages */

.advantages{
    padding: 80px 0;
}

@media(max-width: 992px){
    .advantages{
        padding: 50px 0;
    }
}

@media(max-width: 767px){
    .advantages{
        padding: 30px 0;
    }
}

.advantages-header{
    margin: 0 0 50px 0;
}

.header-block-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    color: #252B42;
    text-align: center;
}


.header-block-title > *:not(:last-child){
    margin: 0 0 10px 0;
}

@media(max-width: 992px){
    .header-block-title{
        font-size: 35px;
    }
}

@media(max-width: 767px){
    .header-block-title{
        font-size: 30px;
    }
}


.header-block-sub-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    color: #737373;
    text-align: center;
}

.advantages-body{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.advantages-column{
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;

}

@media(max-width: 1020px){
    .advantages-column{
        flex: 0 1 50%;
    }
}

@media(max-width: 560px){
    .advantages-column{
        flex: 0 1 100%;
    }
}

.advantages-item{
    background-color: #FFF;
    padding: 30px;
    text-align: center;
}

.advantages-item > *:not(:last-child){
    margin: 0 0 10px 0;
}

.advantages-icon{
    height: 48px;
    display: flex;
    text-align: center;
    align-items: flex-end;
    justify-content: center;
}

.advantages-value{
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    color: #252B42;
    text-align: center;
}

.advantages-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #737373;
}

/* practice */

.practice{
    padding: 125px 0 80px 0;
}

@media(max-width: 993px){
    .practice{
        padding: 40px 0 80px 0;
    }
}

@media(max-width: 767px){
    .practice{
        padding: 0 0 40px 0;
    }
}

.practice-header{
    margin: 0 0 45px 0;
}

.practice-body{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.practice-column{
    padding: 0 15px;
    flex: 0 1 25%;
}

@media(max-width: 1040px){
    .practice-column{
        /* padding: 0 20px; */
        flex: 0 1 50%;
    }
}

@media(max-width: 630px){
    .practice-column{
        /* padding: 0 20px; */
        flex: 0 1 100%;
    }
    .practice-column:not(:last-child){
        margin: 0 0 20px 0;
    }
}

.item-practice{
    display: flex;
    height: 100%;
    background-color: #FFF;
    flex-direction: column;
}

.item-practice-content{
    padding: 30px;
    flex: 1 1 auto;
}

.item-practice-link{
    color: inherit;
    display: inline-block;
}

.item-practice-link:hover{
    text-decoration: underline;
}

.item-practice-link:not(:last-child){
    margin:0 0 15px 0;
}

.item-practice-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252B42;
}

.item-practice-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    color: #737373;
}

.item-practice-image{
    display: block;
    padding: 0 0 60% 0;
}

/* who we are */

.whoweare{
    padding: 80px 0 130px 0;
    background-color: #FFF;
}

@media(max-width: 950px){
    .whoweaare{
        padding: 50px 0 50px 0;
    }
}

.whoweare-header{
    margin: 0 0 100px 0;
}

@media(max-width: 950px){
    .whoweare-header{
        margin: 0 0 30px 0;
    }
}

.whoweaare-body{
    display: flex;
    align-items: flex-start
}

@media(max-width: 950px){
    .whoweaare-body{
        flex-direction: column-reverse;
        align-items: stretch;   
    }
}

.whoweare-video{
    flex: 0 0 57%;
    position: relative;
    padding: 0 0 42.25% 0;
}

.whoweare-video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    object-fit: cover;
}

.whoweare-content{
    flex: 1 1 auto;
    padding: 0 0 0 121px;
}

@media(max-width: 1080px){
    .whoweare-content{
         padding: 0 0 0 50px;
    }
    .whoweare-video:not(:last-child){
        margin: 50px 0 0 0;
    }

    .whoweare-video{
        padding: 0 0 56.25% 0;
    }
}

@media(max-width: 992px){
    .whoweare-content{
         padding: 0 0 0 0;
    }
}

.header-block-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    color: #252B42;
}

.header-block-sub-title{
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    color: #737373;
}

.whoweare-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    color: #252B42;
}

@media(max-width: 950px){
    .whoweare-title{
    font-size: 24px;
    }
}

.whoweare-title:not(:last-child){
    margin: 0 0 10px 0;
}

.whoweare-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    color: #737373;
}

.item-whoweare-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252B42;
}

.item-whoweare-title:not(:last-child){
    margin: 0 0 5px 0;
}

.item-whoweare-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 170%;
    color: #737373;
}

.whoweare-items{
    padding: 50px 0 0 0;
}

.item-whoweare{
    display: flex;
}

.item-whoweare-icon{
    flex: 0 0 32px;
}

.item-whoweare-body{
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}

/* clients */

.main-clients{
    margin: 0 0 10px 0;
}

.clients{
    padding: 50px 0;
}

@media(max-width: 760px){
    .clients{
        padding: 30px 0;;
    }
}

.clients-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clients-item{
    padding: 8px 15px;
    flex: 0 1 16.66%;
    text-align: center;
    min-width: 140px;
}

.clients-item img{
    max-width: 100%;
}

/* subscribe */

.subscribe{
    position: relative;
    padding: 0 0 20px 0;
}
.subscribe::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background: #252B42;
}

.subscribe-title{
    flex: 0 1 50%;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #FFFFFF;
}

@media(max-width: 810px){
    .subscribe-title{
        margin: 0 0 20px 0;
    }

    .subscribe-body{
        margin: 0 -15px;
        padding: 20px 25px;
    }
}

@media(min-width: 810px){
    .subscribe-body{
        display: flex;
        justify-content: space-between;
    }

    .subscribe-title{
        max-width: 266px;
    }
}

.subscribe-form{
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}

.subscribe-button{
    padding: 0 22px;
    border-radius: 0px 5px 5px 0px;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    color: #FFF;
}

@media(max-width: 810px){
    .subscribe-button{
        padding: 0 15px;
    }
}

.subscribe-body{
    position: relative;
    z-index: 2;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #17213C;
    border-radius: 2px;
}

@media(min-width: 1070px){
    .subscribe-body{
        margin: 0 30px;
    }
}

.subscribe-input{
    width: 100%;
    flex: 1 1 auto;
    min-height: 58px;
    padding: 0 20px;
    box-sizing: border-box;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    color: #737373;
}

.subscribe-input:focus{
    color: #000;
}

/* get in touch */

.getintouch{
    padding: 80px 0 135px 0;
}

.getintouch-header{
    margin: 0 0 80px 0;
}

.item-getintoch > *:not(:last-child){
    margin: 0 0 15px 0;
}

.item-getintoch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 50px 15px;
}

.item-getintoch-active{
    padding: 80px 15px;
    color: #FFF;
    background: #252B42;
}

.getintouch-items{
    margin: 0 -15px;
}

@media(min-width: 992px){
    .getintouch-items{
        display: flex;
        align-items: center;
        margin: 0;
    }
}

@media(max-width: 992px){
    .getintouch-header{
        margin: 0 0 50px 0;
    }

    .getintouch{
        padding: 50px 0;
    }
}

@media(max-width: 767px){
    .getintouch-header{
        margin: 0 0 20px 0;
    }
}

.getintouch-item{
    flex: 0 1 33.33%;
}

.item-getintouch-emails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: inherit;
}

.getintouch-email{
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: inherit;
}

.getintouch-email:hover{
    text-decoration: underline;
}


.item-getintouch-lable{
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}

.item-getintouch-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 44px;
    text-align: center;
    padding: 5px 20px;
    border: 1px solid #FF7B47;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #FF7B47;
    transition: all 0.3s ease 0s;
}

.item-getintouch-button:hover{
    background-color: #FF7B47;
    color: #FFF;
}

/* contact us */

.cuntactus{
    background-color: #FFF;
    pad: 40px 0;
}

@media(min-width: 767px){
    .contactus-body{
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .contactus-content{
        padding: 0 20px 0 0;
    }
}

.contactus-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #252B42;
}

.contactus-title:not(:last-child){
    margin: 0 0 10px 0;
}

.contactus-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 142%;
    color: #737373;
}

.contactus-button{
    display: flex;
    background: #FF7B47;
    border-radius: 5px;
    min-height: 58px;
    padding: 5px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    transition: background-color 0.3s ease 0s;
}

.contactus-button:hover{
    background-color: #a73204;
}

.contactus-content{
    padding: 0 0 20px 0;
}

/* footer */